@media screen and (max-width: 1023px){
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: hsla(0, 0%, 0%, .3);
        width: 100%;
        padding-block: 4rem;
        backdrop-filter: blur(24px);
        transition: top .4s;

    }
}